<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>

    <title><%= gift.title || "Gift" %> - FriendFolio</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://cloud-dl6zn5vpz-hack-club-bot.vercel.app/0logo.png"
    />

    <style>
      body {
        font-family: "Poppins";
      }
    </style>
  </head>
  <body
    class="bg-gradient-to-r from-violet-100 via-purple-50 to-pink-100 bg-no-repeat bg-fixed transition-all px-0 lg:px-16 py-10"
  >
    <script>
      const jsConfetti = new JSConfetti();

      jsConfetti.addConfetti({
        confettiColors: [
          "#8b5cf6",
          "#f174ba",
          "#f7d9f1",
          "#dfd8fe",
          "#ffffff",
          "#fceaf5",
          "#efeaff",
        ],
        confettiNumber: 500,
      });
    </script>
    <div class="lg:w-2/3 xl:w-1/2 mx-auto mt-10 transition-all px-10 lg:px-0">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-24 bg-indigo-400 hover:bg-white stroke-white p-1 rounded-lg hover:stroke-indigo-400 mx-auto transition-all shadow-md shadow-indigo-500/30"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 8.25v-1.5m0 1.5c-1.355 0-2.697.056-4.024.166C6.845 8.51 6 9.473 6 10.608v2.513m6-4.871c1.355 0 2.697.056 4.024.166C17.155 8.51 18 9.473 18 10.608v2.513M15 8.25v-1.5m-6 1.5v-1.5m12 9.75-1.5.75a3.354 3.354 0 0 1-3 0 3.354 3.354 0 0 0-3 0 3.354 3.354 0 0 1-3 0 3.354 3.354 0 0 0-3 0 3.354 3.354 0 0 1-3 0L3 16.5m15-3.379a48.474 48.474 0 0 0-6-.371c-2.032 0-4.034.126-6 .371m12 0c.39.049.777.102 1.163.16 1.07.16 1.837 1.094 1.837 2.175v5.169c0 .621-.504 1.125-1.125 1.125H4.125A1.125 1.125 0 0 1 3 20.625v-5.17c0-1.08.768-2.014 1.837-2.174A47.78 47.78 0 0 1 6 13.12M12.265 3.11a.375.375 0 1 1-.53 0L12 2.845l.265.265Zm-3 0a.375.375 0 1 1-.53 0L9 2.845l.265.265Zm6 0a.375.375 0 1 1-.53 0L15 2.845l.265.265Z"
        />
      </svg>

      <p
        class="text-transparent bg-clip-text bg-gradient-to-r from-indigo-400 to-pink-400 font-bold text-4xl w-fit mx-auto mt-5 text-center"
      >
        <%= gift.greeting %>
      </p>

      <div
        class="w-2/3 bg-gradient-to-br mx-auto min-w-96 from-indigo-200 via-purple-100 to-pink-200 mt-5 rounded-lg px-5 py-3 shadow-md shadow-neutral-200/50"
      >
        <p class="font-medium text-base text-neutral-500 text-justify">
          <%= gift.message %>
        </p>
      </div>

      <div
        class="rounded-full bg-indigo-300/50 w-fit px-8 py-0.5 font-bold text-indigo-500 mx-auto mt-16"
      >
        <p>Memories I Treasure with u</p>
      </div>

      <div class="w-96 mx-auto">
        <% for (let i = 0; i < polariods.length; i++) {
          const element = polariods[i]; %>
          
        <div
          class="bg-white rounded-md pb-7 pt-7 px-7 mt-5 hover:bg-indigo-400 transition-all group shadow-md shadow-neutral-300/30 hover:shadow-lg hover:shadow-indigo-500/30"
        >
          <img src="<%= element.img %>" alt="" class="mb-3 rounded-sm bg-white/30" />
          <div class="flex items-center">
            <p class="font-semibold text-2xl flex-1 group-hover:text-white">
              <%= element.nickname %>
            </p>
            <p
              class="font-semibold text-base text-neutral-500 group-hover:text-indigo-600"
            >
            <%= element.date ? element.date.toString().split(" ")[1]+" "+element.date.toString().split(" ")[2]+" "+element.date.toString().split(" ")[3] : "" %>
            </p>
          </div>
          <p
            class="group-hover:text-indigo-100 font-medium mt-2 text-neutral-600"
          >
          <%= element.title %>
          </p>
          <p class="group-hover:text-indigo-200 text-sm text-neutral-500">
            <%= element.body %>
          </p>
        </div>

        <% } %>
      </div>
    </div>
  </body>
</html>
